<h2
  *ngIf="
    shoppingCartService.shoppingCart.cartProductDtos != null &&
    shoppingCartService.shoppingCart.cartProductDtos.length == 0
  "
>
  Empty Cart
</h2>
<div
  *ngIf="
    shoppingCartService.shoppingCart.cartProductDtos != null &&
    shoppingCartService.shoppingCart.cartProductDtos.length > 0
  "
  class="row justify-content-around"
>
  <table class="table table-striped col-8 table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantidy</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Promotion Applied</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let c of shoppingCartService.shoppingCart.cartProductDtos"
        app-shopping-cart-table
        [cartProduct]="c"
      ></tr>
    </tbody>
  </table>

  <div class="row justify-content-end col-3">
    <div class="card">
      <div class="card-header">Order Summary</div>
      <div class="card-body">
        <div class="row">
          <p class="card-text col-6">2 products</p>
          <p class="card-text col-6">&euro; 909,98</p>
          <p class="card-text text-info col-6 mt-1">You Saved</p>
          <p class="card-text text-info col-6 mt-1">&euro; 909,98</p>
          <h5 class="card-title col-6 mt-5">Total</h5>
          <h5 class="card-title col-6 mt-5">&euro; 909,98</h5>
        </div>
        <button
          type="button"
          (click)="TestUpdateCart()"
          class="btn btn-primary"
        >
          Check Out
        </button>
      </div>
    </div>
  </div>
</div>
