<h2
  *ngIf="
    shoppingCartService.shoppingCart.cartProductDtos != null &&
    shoppingCartService.shoppingCart.cartProductDtos.length == 0
  "
>
  Empty Cart
</h2>

<div
  *ngIf="
    shoppingCartService.shoppingCart.cartProductDtos != null &&
    shoppingCartService.shoppingCart.cartProductDtos.length > 0
  "
  class="row justify-content-around"
>
  <table class="table table-striped col-9">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Quantidy</th>
        <th scope="col">Price</th>
        <th scope="col">Total</th>
        <th scope="col">Promotion Applied</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let c of shoppingCartService.shoppingCart.cartProductDtos"
        app-shopping-cart-table
        [cartProduct]="c"
      ></tr>
    </tbody>
  </table>

  <div class="row justify-content-end col-3">
    <div class="card">
      <div class="card-header">Order Summary</div>
      <div class="card-body">
        <div class="row">
          <p
            *ngIf="shoppingCartService.shoppingCart.originalPrice == 1"
            class="card-text col-6"
          >
            {{ shoppingCartService.shoppingCart.quantidy }} product
          </p>
          <p
            *ngIf="shoppingCartService.shoppingCart.originalPrice > 1"
            class="card-text col-6"
          >
            {{ shoppingCartService.shoppingCart.quantidy }} products
          </p>
          <p *ngIf="shoppingCartService.shoppingCart.saved > 0" class="card-text col-6" style="text-decoration: line-through">
            &euro; {{ shoppingCartService.shoppingCart.originalPrice }}
          </p>
          <p *ngIf="shoppingCartService.shoppingCart.saved <= 0" class="card-text col-6">
            &euro; {{ shoppingCartService.shoppingCart.originalPrice }}
          </p>          
          <p
            *ngIf="shoppingCartService.shoppingCart.saved > 0"
            class="card-text text-info col-6 mt-1"
          >
            You Saved
          </p>
          <p
            *ngIf="shoppingCartService.shoppingCart.saved > 0"
            class="card-text text-info col-6 mt-1"
          >
            &euro; {{ shoppingCartService.shoppingCart.saved }}
          </p>
          <h5 class="card-title col-6 mt-5">Total</h5>
          <h5 class="card-title col-6 mt-5">&euro; {{ shoppingCartService.shoppingCart.totalPrice }}</h5>
        </div>
        <button
          type="button"
          (click)="checkOut()"
          class="btn btn-primary"
        >
          Check Out
        </button>
      </div>
    </div>
  </div>
</div>
