<th scope="row" *ngIf="cartProduct">
  <p class="h5">{{ cartProduct.name }}</p>
  <small *ngIf="cartProduct.promotion" class="text-info">{{
    cartProduct.promotion
  }}</small>
</th>
<td *ngIf="cartProduct">
  <div class="row">
    <button
      type="button"
      class="btn btn-primary col-2 btn-sm"
      (click)="addQuantidy(-1)"
    >
      -
    </button>
    <input
      [disabled]="disabled"
      type="number"
      min="1"
      max="99"
      class="form-control col-3 form-control-sm"
      placeholder=""
      style="width: 4px"
      [value]="cartProduct.quantidy"
      (keyup)="priceKeyUp($event)"
      (keydown)="checkQuantidy($event.target.value)"
    />
    <button
      type="button"
      class="btn btn-primary col-2 btn-sm"
      (click)="addQuantidy(1)"
    >
      +
    </button>
  </div>
</td>
<td *ngIf="cartProduct" class="h6">&euro;{{ cartProduct.price }}</td>
<td *ngIf="cartProduct" class="h6">&euro;{{ cartProduct.totalPrice }}</td>
<td *ngIf="cartProduct" class="text-info h6">
  {{ cartProduct.promotionApplied }}<br />
  <small *ngIf="cartProduct.saved" class="text-info"
    >Saved: &euro;{{ cartProduct.saved }}</small
  >
</td>
<td *ngIf="cartProduct">
  <button class="btn btn-secondary btn-sm" (click)="RemoveProduct()">
    Remove
  </button>
</td>
