<h2>First of all, thanks for the fantastic opportunity =)</h2>

<p class="display-5">
  I didn't have much time at the beginning of the year, but I managed to work on
  the challenge at night. Hope to hear from you soon.
</p>
<p class="h5">I had so much fun developing the challenge!</p>
<p class="display-5">
  I would like to clarify some points, I didn't implement a login system or
  admin area, nor does the shopping cart persist on data base or did focus on
  layout responsiveness, in fact I started, but then I realized that the
  challenge didn't ask for that, but focused on other things, especially in
  Design Patern and in the calculation of promotions and the ease of
  implementing new promotions to the project.
</p>
<p class="display-5">I focused mainly on these requirements.</p>
<p class="h4">
  Again, I would like to thank you very much for the opportunity, an opportunity
  that I have been waiting for my whole life =)
</p>
<br/><br/><br/><br/>
<p class="h4">I Hope to hear from you soon.</p>
<p class="h5">Thiago Ferreira Fernandes</p>
